/*Milestone 1 - */

/* General styling */
body {
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 20px;
    line-height: 30px;
}

body, figure {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 980px;
    margin: auto auto;
    display: grid;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.3em;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.4em;
    text-transform: uppercase;
}



.about,
.testimonials,
.newsletter,
.contact,
.classes
 {
    padding: 50px 0;
}

footer {
    background-color: #333;
    color: #f2f2f2;  
}

.social-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 15px;
    font-size: 1.5em;
  }

  .social-grid .fa,
  .footer-info a {
      color: #f2f2f2;
      transition: .2s all linear;
  }

  .social-grid .fa:hover,
  .footer-info a:hover {
    color: #ff9900;
}

  .copyright {
      font-size: 12px;
      text-align: center;
  }

  .underline {
      color: #f2f2f2;
      font-weight: bold;
      font-size: 16px;   
      display: block;
      padding-top: 25px;
  }

  .footer-info {
      font-size: 16px;
  }

  .footer-info a {
      text-decoration: none;
  }

  footer .grid-box {
      text-align: center;    
  }

  footer .social-grid {
      justify-content: center;
  }

  




/* Main Navigation*/
/* Add a background color to the main navigation and position fixed */
.main-nav {
    background-color: #333;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
}

/* Style the links inside the navigation bar */
.main-nav a {
    float: left;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 17px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    transition: .2s all linear;
    font-weight: bold;
    letter-spacing: 2px;
}


/* Change the color of links on hover (excluding first element - website brand) */
.main-nav a:hover:not(:first-child) {
    background-color: #ff9900;
   
}

/* Add an active class to highlight the current page */
.main-nav a.active {
    background-color: #ffad33;
}

/* Hide the hamburger icon in main-nav */
.main-nav .hamburger-icon {
    display: none;
}

/* mobile*/

.main-nav a:not(:first-child) {
    display: none;
}

.main-nav a.hamburger-icon {
  float: right;
  display: block;
}

.main-nav.mobile-nav a.hamburger-icon {
  position: absolute;
  right: 0;
  top: 0;
}
  
.main-nav.mobile-nav a {
  float: none;
  display: block;
  text-align: left;
}

.logo {
    color: #f2f2f2;
    font-size: 1em;
}


/* Header */
header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/crossfit.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.landing-text-box {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%); 
    color: #fff;
    min-width: 400px;
    text-align: center;
}

.hero-line-title {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-line-subtitle {
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-line-subtitle span {
    font-weight: bold;
    font-size: 1.4em;
}

.btn {
    background-color: #ffad33;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: .2s all linear;
    letter-spacing: 1px;
    outline: none;
}

#myBtn {
    margin-bottom: 30px;
}

 .form-btn {
     float: right;
     margin: 10px 0;
 }

.btn-subscription {
    background-color:#333;
    border: none;
    cursor: pointer;
    margin-left: -4px;
    border-radius: 0;
}

.btn:hover {
    background-color:#ff9900; 
}

.btn-subscription:hover {
    background-color: #000;
}

span {
    font-size: 1.2em;
    color: #ff9900;
}

.grid-box
 {
    padding: 5px 20px;
}

.news-box {
    text-align: center;
}

.news-box input {
    width: 270px;
    padding: 4px 10px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.subscription-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #ff9900;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.blockquote {  
    font-style: italic;
    position: relative;
    margin-top: 60px;
}

.blockquote > p {
    margin: 0;
}

.blockquote:before {
    content: "\201C";
    font-size: 400%;
    position: absolute;
    top: 0px;
    left: 15px;
}

.user {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    text-align: center;
}

.user img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



.testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/hero-min.jpg');
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    color: #f2f2f2;
    padding-bottom: 50px;
}

.newsletter {
    background-color: #ffad33;
    color: #f2f2f2;
}

.subpage-text-box {
    position: absolute;
    top: 40vh;
    left: 20px;
    color: #f2f2f2;
}

/* Contact page */

.hero-image {
    height: 50vh;
}

.classes-img {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/classes.jpg');
}

.contact-img {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/machines.jpg');
}

.zumba-img {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/zumba.jpg');
}

.yoga-img {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/yoga.jpg');
}

input, select, textarea {
    border: none;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 2%;
    margin-top: 2%; 
    width: 98%;
    outline: none;
    border-bottom: 1px solid #bebebe;
}

input:focus, select:focus, textarea:focus {
    border-bottom: 1px solid #ffad33;
}

select {
    width: 100%;
    color: #555;
}

textarea {
    resize: none;
    min-height: 100px;
    width: 97.5%;
    padding-top: 10px;
    font-family: 'Lato', Arial, sans-serif;
}

strong {
    font-size: 1.5em;
}

#signup {
    box-shadow: 1px 1px 2px gray;
    padding: 3%;
    float: left; 
    margin-top: 30px; 
}

#signup > p {
    color: #fff;
    background: #ffad33;
    padding: 35px 0;
    text-align: center;
    margin-top: 0;
}


.contact-options a {
    color: #555;
    text-decoration: none;
    transition: .2s all linear;
    
}

.contact-options a:hover, .footer-info a:hover {
    color: #ff9900;
    text-decoration: underline;
}






/* Classes page*/
.info-box {
    font-weight: bold;
    text-align: center;
    margin-bottom: 28px;
    color: #f2f2f2;
    background: #ffad33;
    display: block;
    padding: 12px;
    letter-spacing: 1px;    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.desktop-three-col-grid a {
    text-decoration: none;
}

.transform {    
    overflow: hidden;
    background: #000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.transform img {
    transform: scale(1.25);
    transition: linear all .3s;
    opacity: 0.8;
}

.transform img:hover {
    transform: scale(1.08);
    opacity: 1;
}

table {
    width: 100%;
    margin-top: 50px;
    max-width: 380px;
}

table th {
    background-color: #ffad33;
    color: #f2f2f2;
}

table, th, td {
    border: 1px solid #bebebe;
    border-collapse: collapse;
    }

th, td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    }

    iframe {
        margin-top: 30px;
        border: 0;
        width: 100%;
        height: 250px;
    }

    .youtube-video {
        height: 350px;
    }

/* Code for modal box taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffad33;
    color: #f2f2f2;
}

.modal-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.modal-body {
    padding: 2px 16px;
}



/* Media queries */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.desktop-two-col-grid {
    grid-template-columns: 2fr 1.5fr;
}   
.desktop-three-col-grid {
    grid-template-columns: auto auto auto;
} 
/* Push all menu element to the right (exclude first element - website brand) */
.main-nav a:first-child {
    margin-left: 50px;
    margin-right: 50px;
}

table {
    margin-left: 20px;
}

.footer-grid {
    grid-template-columns: 2fr 1fr;
}

footer .grid-box {
    text-align: start;    
}

footer .social-grid {
    justify-content: normal;
}


.main-nav a:not(:first-child) {
    display: block;
}

.main-nav a.hamburger-icon {
    display: none;
}

.blockquote:before {
    top: -5px;
    left: -5px;
}

.modal-content {
    width: 60%;
}
}